
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%} ">
    {%block style %}
    <style></style>
    {%endblock%}
    <title>{%block title %}Home{%endblock%}</title>
</head>
<body>
    {%block body%}

    {%endblock%}

    {%block script%}
        <script src="{% static 'js/jquery.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/proper.js'%}"></script>

    {%endblock%}
</body>
</html>